

# http://map.fmi.fi/geoserver/wms?service=WMS&version=1.1.0&request=GetMap&
# layers=world-map-combo-en
# &styles=&bbox=20.6679,57.9558,29.6855,62.432&width=768&height=768&srs=EPSG:4326&format=image%2Fpng

proxy=off

WMS_URLBASE='http://map.fmi.fi/geoserver/wms?service=WMS&version=1.1.0&request=GetMap&format=image/png&'

LAYERS=${LAYERS:-'world-map-combo-en'}

# europe.country.wgs84 => europe_country_wgs84
# LAYERS=${LAYERS//./_}
# LAYERS="KAP:${LAYERS//,/,KAP:}" # keep as example



