BODY {
    margin: 40px 40px 40px 20px;
    text-decoration: none;
}

H1, H2, H3, .LEAD, .KEY {
    font-family: Helvetica,Arial,SansSerif;
}

TD {
    border: 1px solid black;
    font-family: Courier,monospace;
}

CODE {
    background-color: lightgray;
}

.LEAD, .KEY {
    border: none;
    font-weight: bold;
    background-color: lightgray;
}

TH.LEAD {
    font-size: x-large;
}


a {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
    /* background-color: lightgray; */
    opacity: 0.5;
    /* text-decoration: underline;*/
}

fieldset {
}

legend, label {
    font-family: Helvetica,Arial,SansSerif;
}

legend {
    font-weight: bold;
    font-size: small;
}

.inline {
    display: inline;
    /* height:120px; */
    /* float:left; */
    margin: 5px;
    border-width: 3px;
    border-radius: 10px;
   
}

.error {
    color: red;
    font-size: x-large;
    /* margin: 2px; */
    /* border: 1px solid black; */
}
