<?xml version="1.0"?>
<html>
  <head>
    <meta charset="utf-8"/>
    <link rel="shortcut icon" href="./favicon.ico"/>
    <title>Nutshell Product Server</title>
    <link rel="stylesheet" type="text/css" href="/nutshell/nutshell.css"/>
  </head>
  <body>
    <h1 id="greeting" style="">
      <a href="/nutshell/NutShell" style="text-decoration: none"><img src="/nutshell/img/nutshell-logo.png" alt="home" border="0" width="64" height="64" style="vertical-align:middle"/> NutShell Server</a>
    </h1>
    <span id="main"/>
    <hr/>
    <p style="color:gray; font-size:x-small;">NutShell Java Servlet 1.0beta</p>
  </body>
</html>
