<?xml version="1.0"?>
<html>
  <head>
    <meta charset="utf-8"/>
    <script type="text/js">
      var loc = document.location
    </script>
  </head>
  <body>
    <h3>Menu</h3>
    <ul>
      <li>
        <a href="NutShell?status" target="dir">Status page</a>
      </li>
      <li>
        <a href="NutShell?form.html" target="form">Query demo</a>
      </li>
      <li>
        <a href="NutShell?tests.html" target="dir">Tests</a>
      </li>
      <li>
        <a href="products/" target="dir">Product directory</a>
      </li>
      <li><a href="cache/" target="dir">Cache directory</a> (short-time storage)
      </li>
      <li><a href="storage/" target="dir">Storage directory</a> (long-time storage)
      </li>
      <li>Implementations
	<ul><li><button title="Java version" type="button" value="8080" onclick="document.location.port=this.value">Java</button></li><li><button title="Python version" type="button" value="8088" onclick="document.location.port=this.value">Python</button><a href="/nutshell/stop">(stop)</a></li></ul> 
      </li>
      <li>
        <a href="examples.html" target="dir">Old demo</a>
      </li>
    </ul>
  </body>
</html>
