<?xml version="1.0" ?>
<html>
  <!-- Finnish Meteorological Institute  2020-2022  Markus Peura fmi.fi -->
  <head>
    <meta charset="utf-8"/>
    <link rel="shortcut icon" href="/nutshell/favicon.ico"/>
    <title>Nutshell Product Server</title>
    <link rel="stylesheet" type="text/css" href="/nutshell/nutshell.css" />
    <script type="text/javascript" >function nutshell_body(){}</script>
  </head>
  <body onload="nutshell_body()" >

    <h1 id="greeting" style="" ><a href="/nutshell/NutShell" style="text-decoration: none"><img src="/nutshell/img/nutshell-logo.png" alt="home" border="0" width="64" height="64" style="vertical-align:middle"/> NutShell Server</a></h1>
    
    <span id="main"></span>
    
    <hr/>

    <span style="color:gray; font-size:x-small;">
      <span id="version"></span>  (<a href="https://fmidev.github.io/nutshell/" target="nutshell_doc" >doc</a>)
      <span id="pageName"></span> 
    </span>


  </body>

</html>
