# Conf by mpeura, ke 6.5.2020 13.38.22 +0300

# Directory for NutShell Python files:
NUTSHELL_DIR='/fmi/dev/nutshell'

# Root of cache directory, often on separate resource:
CACHE_ROOT='/fmi/dev/products/cache/'

# Root of product generator (script) directories
PRODUCT_ROOT='/fmi/dev/run'

# Root directory for HTTP server (optional).
HTML_ROOT='/fmi/dev/nutshell/html'

# Port for HTTP server.
# HTTP_PORT='8088'
HTTP_PORT='8080'

# URL directory prefix for NutShell services.
HTTP_PREFIX='nutshell/'

